@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-gantt/styles/material.css';

html {
  --main-color-dark-palette: #1a1a1a;
  --secondry-color-dark-palette: #373737;
  --blue-button-color: #3c95f4;
  --blue-active-color: #2070c6;
  --blue-gradient: linear-gradient(90deg, #3c95f4 65%, #3385dc 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.toastProgress {
  background: #0071ce !important;
}

.Bttn{
  background-color: white;
  border: 1px solid blue;
  color: blue;
  border-radius: 3px;
  
}

.Bttn:hover{
background-color: blue;
color: white;
}


.select-editable {position:relative; background-color:white; border: none; width:100%;  }
.select-editable select {position:absolute; top:0px; left:0px;   border:none; width:100%; margin:0;}
.select-editable input {position:absolute; top:0px; left:0px; width:95.5%; height: 24px; border:none;}
.select-editable select:focus, .select-editable input:focus {outline:none;}

.Bttns{
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 3px;
  
}

.Bttns:hover{
background-color: green;
color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#tabletr:hover{
  
  background: rgba(77, 128, 169, 0.411);

}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100% !important;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-pagination { 
  bottom: 95%; 
  top: 2px;
}

.swiper-slide-active{
  width: 100% !important;
}

.swiper-pagination-bullet { 
  
  width: 20px !important;
  height: 20px !important;
  text-align: center; 
  line-height: 20px; 
  font-size: 12px; 
  color: #000  !important;
  opacity: 1; 
  background: rgba(0, 0, 0, 0.2); 
} 
 
.swiper-pagination-bullet-active { 
  color: #fff !important;
  background: #007aff; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dot {
  height: 50px;
  width: 50px;
  background-color: #e9e9e9;
  border-radius: 50%;
  display: inline-block;
}
